<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>PMBA</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>app_settings_title</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>trail_conditions_feed_url_title</string>
			<key>Key</key>
			<string>trail_conditions_feed_url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>DefaultValue</key>
			<string>http://phillymtb.org/trailconditions/wiss/rss.xml</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>app_info_title</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>version_title</string>
			<key>Key</key>
			<string>version</string>
			<key>DefaultValue</key>
			<string>?</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>build_title</string>
			<key>Key</key>
			<string>build</string>
			<key>DefaultValue</key>
			<string>?</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Licenses</string>
			<key>Title</key>
			<string>Licenses</string>
			<key>Key</key>
			<string>licenses</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>© 2010 Kris Molendyke</string>
		</dict>
	</array>
</dict>
</plist>
